body{
  background-color: #263238;
  color: #fff
}
.Timer{
  font-family: Comic Sans MS, Comic;
  width: 360px;
  margin: 0 auto;

}
#time {
  font-size: 80px;
  font-weight: 600;
  text-align: center;
}
span {
  font-size: 55px;
}
input {
  padding: 20px;
  background: #fff;
  border-radius: 20px;
  color: #263238;
  font-weight: 900;
  font-size: 20px;
}
#lapBtn {
  padding: 0;
  width: 100%;
  margin-top: 5px;
}
